* {
    font-family: 'Source Code Pro', monospace;
}

body {
    margin: 0;
}

img {
    position: absolute;
}

/* INÍCIO*/
#publicidade{
    display: none;
}
.titulo {
    width: 42%;
    margin: 2%;
    font-size: 240%;
    font-weight: lighter;
}

.participar {
    margin-left: 2%;
    margin-top: 3%;
    padding-left:1%;
    font-size: 400%;
    border: solid 8px black;
    width: 43vw;
    height:12vh;


}

.participar:hover {
    /*text-decoration: underline overline;*/
    cursor: pointer;
}


.fundopopup {
    width: 180%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -200;
}

.mulher {
    position: fixed;
    top: 34%;
    left: -10%;
    width: 50%;
    transform: rotate(30deg);
}

.casa {
    position: fixed;
    top: 2%;
    left: 48%;
    width: 48%;
    transform: rotate(-10deg);
}

.formParticipar {
    position: fixed;
    top: 50%;
    left: 57%;
    transform: translateX(-50%) translateY(-50%);
}
.formParticipar input{
    width: 68%;
    font-size: 8vh;
    background: center;
    border: none;
    border-bottom: 4px solid black;
    margin-top: 2%;

}
.formParticipar button{
    float: right;
    margin-top: 12%;
    background:center;
    border:none;
    font-size: 1.5em;
    font-weight: bolder;
    margin-right: 30%;
}

.formParticipar button:hover{
    cursor: pointer;
    text-decoration: underline overline;

}

.ticket {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.aparecerTicket {
display:none;
}

/*WAITING*/
#quadrado_waiting {
    width: 140%;
    height: 120%;
    left: -20%;
    top: -45%;
    position: fixed;
    z-index: -2;
    background: #76d9fc;
    transform: rotate(-20deg);
}

#relogio_processing {
    z-index: 1;
    top: 30%;
    left: -10%;
    width: 50vw;
    height: auto;
    transform: rotate(30deg);
}

.txt_processing {
    left: 40%;
    top: 30%;
    position: absolute;
}

.txt_processing p {
    font-size: 30px;
}

/*ACENAR*/

.casa_ac {
    margin-top: 7%;
    margin-left: 11%;
    width: 50%;
    height: auto;
    transition: ease-in 4s;
    position: fixed;
    z-index: -5;
}

.texto {
    position: absolute;
    right: 5%;
    bottom: 7%;
    font-size: 2vw;
    width: 22%;
}

/*SORTEIO*/

#id_1{
    width:40%;
}

.txt_won{
    margin-top:40%;
    margin-left:10%;
    font-size:28px;
}
#botao_start{
    margin-left:10%;
    font-size:38px;
    display:none;
    border: solid 8px black;
    text-decoration: none;
    color: black;
    width: 24%;
    padding-left: 2%;
}

.sorteiochapeu{
    position: fixed;
    top: 29%;
    left: 50%;
    width: 40%;
    z-index:2;
}

.sorteiochapeu:hover{
    cursor:pointer;
}

#vencedor{
    display: block;
    position: absolute;
    width:40%;
    top: 56%;
    left:65%;
    font-size:32px;
    z-index:1;
}
#bilhete{
    width:20%;
    top:56%;
    height:auto;
    left:60%;
    z-index:-1;
}

.bilheteSurgir{
     width:20%;
     transform: translateY(-150%);
     transition: all 1s ease-out;
     transition-delay: 0s;
 }
.vencedorSurgir{
    transform: translateY(-510%);
    transition: all 1s ease-out;
    transition-delay: 0s;
}

#triangulo1 {
    width: 0;
    height: 0;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 120vh solid #76d9fc;
    position: fixed;
    top: -40%;
    left: 44vw;
    z-index: -8;
    transform: rotate(140deg)
}
#triangulo2 {
    width: 0;
    height: 0;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 120vh solid #76d9fc;
    position: fixed;
    top: -40%;
    left: 76vw;
    z-index: -8;
    transform: rotate(-140deg)
}

/* PLANTAS MENUS*/
#kitchen, #livingroom, #bedroom, #nursery {
    position: fixed;
    top: -6%;
    left: -2%;
    width: 75%;
    height: auto;
    transform: rotate(-30deg);
}

/*Lydia*/


.lydia {
    z-index: -1;
    position: fixed;
    float: right;
    width: 15%;
    height: auto;
    bottom: -25px;
    right: 1%;
}

.lydiaTexto {
    z-index: -1;
    width: calc(100% / 9);
    position: fixed;
    bottom: 20vh;
    right: 2.5%;
    font-weight: normal;
    font-size: 18px;
}

/*ganhar letra*/

.win {
    display: none;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.win img {
    position: fixed;
    width: 110%;
    height: 40vh;
}

.win a img {
    display: none;
    width: 12vh;
    height: auto;
    margin-left: 15%;
    margin-top: -3vh;
    z-index: 2;
}

.win div {
    z-index: 3;
}

.win p {
    line-height: 60px;
    font-size: 3vh;
    text-align: center;
    margin-top: 0;
}

.win p:last-child {
    font-size: 9vh;
    margin-bottom: 0;
}

area {
    cursor: pointer;
}

/*SALA*/

img.sala {
    z-index: -2;
}

img.sala:first-child { /*gato*/
    height: 30vh;
    width: auto;
    top: 32vh;
    left: 20vw;
}

img.sala:nth-child(2) { /*sofá*/
    transform: rotate(-0.8deg);
    height: 45vh;
    width: auto;
    top: 28vh;
    left: 7vw;
}

img.sala:nth-child(3) { /*mesa*/
    height: 45vh;
    width: auto;
    top: 52vh;
    left: 25vw;
}

img.sala:nth-child(4) { /*candeeiro*/
    height: 61vh;
    width: auto;
    top: 2vh;
    left: 7vw;
    z-index: -3;
}

img.sala:nth-child(5) { /*comando*/
    transform: rotate(23deg);
    height: 25vh;
    width: auto;
    top: 64vh;
    left: 33vw;
}

img.sala:nth-child(6) { /*quadro*/
    height: 36vh;
    width: auto;
    top: 6vh;
    left: 65vw;
    z-index: -4;
}
img.sala:nth-child(7) { /*tapete*/
    height: 50vh;
    width: auto;
    margin-top: 58vh;
    left: 16vw;
    z-index: -500;
}

/*QUARTO*/

#chao {
    width: 0;
    height: 0;
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
    border-bottom: 30vh solid dodgerblue;
    position: fixed;
    top: 70%;
    left: 19vw;
    z-index: -8;
}


#quadrado{
    opacity: 80%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: black;
}

#cortina_esq { /*cortina da esquerda*/
    height: 550px;
    width: auto;
    left: 37%;
    z-index: -7;
}

.cortina_esq_azul {
    transform: translateX(-70%);
    transition: all 1s ease-out;
    transition-delay: 0s;
    z-index: -7;
}

#cortina_dir { /*cortina da direita*/
    height: 550px;
    width: auto;
    left: 48%;
    z-index: -7;
    top:-3%;
}

.cortina_dir_azul {
    transform: translateX(70%);
    transition: all 1s ease-out;
    transition-delay: 0s;
    z-index: -7;
}

#cama { /*cama*/
    height: 300px;
    width: auto;
    left: 27%;
    top: 50%;
    position: fixed;
    z-index: -6;
}

.cama_azul {
    z-index: -6;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#relogio { /*relógio*/
    height: 200px;
    width: auto;
    left: -5%;
    position: fixed;
    z-index: -6;
}

#horas {
    position: fixed;
    color: lightgrey;
    font-size: 50px;
    margin-top: 13vh;
    left: 5vw;
    transform: rotate(-1deg);
    font-family: 'digital-7', monospace;
    z-index: -6;
}

.horas_azul {
    color: dodgerblue;
    z-index: -6;
}

#poltrona{
    height: 45vh;
    width: auto;
    left: 2%;
    top: 43%;
    position: fixed;
    z-index:-6;
}
#almofada{
    height: 15vh;
    width: auto;
    left: 11%;
    top: 52%;
    position: fixed;
    z-index:-5;
    transform: rotate(15deg);
}

#janela{
    height: 35vh;
    width: auto;
    top: 11vh;
    left: 42vw;
    z-index: -8;
}

/*COZINHA*/

#php {
    display: none;
}

#monstro2 {
    width: 40%;
    height: auto;
    position: fixed;
    bottom: 2%;
    right: 14%;
    z-index: -9;
}

#monstro1 {
    width: 29%;
    height: auto;
    position: absolute;
    bottom: 34%;
    left: 10%;
    z-index: -10;
}

#cadeira1 {
    position: fixed;
    bottom: 3%;
    left: 2%;
    width: 20%;
    height: auto;
    z-index: -800;
}

#cadeira2 {
    width: 15%;
    height: auto;
    transform: scaleX(-1);
    position: fixed;
    bottom: 8%;
    left: 35%;
    z-index: -800;
}

#flores{
    position: fixed;
    bottom: 22%;
    left: 29%;
    width: 12%;
    height: auto;
    z-index: -6;
}

#mesa {
    position: fixed;
    bottom: -5%;
    left: 14%;
    width: 30%;
    height: auto;
    z-index: -7;
}

#carta {
    position: fixed;
    bottom: 18%;
    left: 24%;
    width: 8%;
    height: auto;
    z-index: -6;
    transform: rotate(15deg);
    cursor: pointer;
}

#carta:hover {
    width: 10%;
    bottom: 16%;
    left: 23%;
}

#papel {
    height: auto;
    position: fixed;
    top: 4%;
    left: 32%;
    z-index: 1;
    width: 32%;
    transform: rotate(-6deg);
}

#fundo {
    transition: all 1s ease 0s;
    background-color: black;
    opacity: 80%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#texto {
    display: none;
}

#textoPsicologo {
    position: fixed;
    top: 4%;
    left: 31%;
    z-index: 2;
    width: 27%;
    height: 65%;
    transform: rotate(-6deg);
    padding: 3%;
}

#date, #assinado {
    width: 22%;
    margin-left: 78%;
}

#cruz {
    position: fixed;
    top: 3%;
    right: 4%;
    width: 4%;
}

#won {
    display: none;
}

/*NURSERY*/
.lydia_nursery {
    z-index: 1;
    position: fixed;
    float: right;
    width: 15%;
    height: auto;
    bottom: -25px;
    right: 1%;
}

/*HALLWAY*/

.scene {
    width: 84vw;
    height: 100vh;
    perspective: 400px;
    perspective-origin: 50% 50%;
    display: flex;
    justify-content: center;
    z-index: -8;
}

.hallway.tv {
    width: 100%;
    height: auto;
    top: -50%;
}

.hallway.lamp {
    width: 20%;
    height: auto;
}

.hallway.bush {
    height: auto;
}

#letra_A {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
}

.help{
    position: fixed;
    right: 1%;
    top: 1%;
    width:2%;

}