* {
    font-family: 'Source Code Pro', monospace;
}

body {
    margin: 0;
}

img {
    position: absolute;
}

/* PLANTAS MENUS*/
#kitchen, #livingroom, #bedroom, #nursery{
    position: fixed;
    top: -6%;
    left: -2%;
    width: 75%;
    height: auto;
    transform: rotate(-30deg);
}

/*Lydia*/


.lydia{
    z-index: 3;
    position:fixed;
    float: right;
    width:15%;
    height:auto;
    bottom: -25px;
    right: 1%;
}

.lydiaTexto {
    z-index: 3;
    width: calc(100%/9);
    position: fixed;
    bottom: 20vh;
    right: 2.5%;
    font-weight: normal;
    font-size: 18px;
}
/*ganhar letra*/

.win {
    display: none;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.win img {
    position: fixed;
    width: 110%;
    height: 40vh;
}

.win img:first-of-type {
    display: none;
    width: 12vh;
    height: auto;
    margin-left: 40%;
    margin-top: 20vh;
    z-index: 2;
}

.win div {
    z-index: 1;
}

.win p {
    line-height: 60px;
    font-size: 3vh;
    text-align: center;
    margin-top: 0;
}

.win p:last-child {
    font-size: 9vh;
    margin-bottom: 0;
}

area {
    cursor: pointer;
}

/*SALA*/

img.sala {
    z-index: -2;
}

img.sala:first-child {  /*gato*/
    height: 30vh;
    width: auto;
    top: 32vh;
    left: 15vw;
}

img.sala:nth-child(2) {  /*sofá*/
    transform: rotate(-0.8deg);
    height: 38vh;
    width: auto;
    top: 29vh;
    left: 6.92vw;
}

img.sala:nth-child(3){  /*mesa*/
    height: 48.6vh;
    width: auto;
    top: 48vh;
    left: 23.9vw;
}

img.sala:nth-child(4){  /*candeeiro*/
    height: 79.9vh;
    width: auto;
    top: 5.74vh;
    left: 62vw;
}

img.sala:nth-child(5){  /*comando*/
    transform: rotate(23deg);
    height: 34.26vh;
    width: auto;
    top: 58vh;
    left: 30.15vw;
}

/*QUARTO*/
#quadrado{
    opacity: 80%;
    width: 100%;
    height:100%;
    position: fixed;
    top:0;
    left: 0;
    z-index:1;
    background:black;

}

#cortina_esq {  /*cortina da esquerda*/
    height: 550px;
    width: auto;
    left: 18%;
    z-index:-1;
}
.cortina_esq_azul{
    transform: translateX(-80%);
    transition: all 1s ease-out;
    transition-delay: 0s;
}

#cortina_dir{  /*cortina da direita*/
    height: 550px;
    width: auto;
    left:33%;
    z-index:-1;
}

.cortina_dir_azul{
    transform: translateX(80%);
    transition: all 1s ease-out;
    transition-delay: 0s;
}

#cama { /*cama*/
    height: 300px;
    width: auto;
    left: 12%;
    top: 50%;
    position: fixed;
    z-index:-1;
}

.cama_azul {

    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#relogio{  /*relógio*/
    height: 200px;
    width: auto;
    left: 73%;
    position: fixed;
    z-index:-1;
}
#horas{
    position: fixed;
    color: lightgrey;
    font-size: 58px;
    margin-top: 7%;
    left: 78%;
    transform: rotate(1deg);
    font-family: 'digital-7', monospace;
    z-index:-1;
}
.horas_azul{
    color: blue;
}

/*COZINHA*/

#monstro2{
    width:40%;
    height:auto;
    position:fixed;
    bottom:6%;
    right:18%;
    z-index: -9;
}

#monstro1 {
    width:42%;
    height:auto;
    position: absolute;
    bottom:35%;
    left:7%;
    z-index: -10;
}

#cadeira1{
    position:fixed;
    bottom:3%;
    left:2%;
    width:20%;
    height:auto;
    z-index: -8;
}

#cadeira2{
    width:15%;
    height:auto;
    transform: scaleX(-1);
    position:fixed;
    bottom:8%;
    left:35%;
    z-index: -8;
}

#mesa{
    position:fixed;
    bottom:-5%;
    left:14%;
    width:30%;
    height:auto;
    z-index: -7;
}

#carta{
    position:fixed;
    bottom:18%;
    left:25%;
    width:8%;
    height:auto;
    z-index: -6;
    transform: rotate(15deg);
}

#carta:hover{
    width:10%;
    bottom:16%;
    left:24%;
}

#papel{
    height:auto;
    position:fixed;
    top:4%;
    left:32%;
    z-index: -2;
    width:32%;
}

#fundo{
    transition:all 1s ease 0s;
    background-color:black;
    opacity:80%;
    width: 100%;
    height:100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: -3;
}

#texto{
    display: none;
}

#textoPsicologo {
    position: fixed;
    top: 3%;
    left: 32%;
    z-index: -2;
    width:32%;
    height:auto;

}

#date, #assinado{
    float:right;
}

#textoPsicologo p{
    padding:6%;
    font-size: 1em;
    font-family: "Source Code Pro", regular, sans-serif;
}

#cruz{
    position: fixed;
    top: 2%;
    right: 2%;
    width: 4%;
}

#won{
    display:none;
}