img {
    position: absolute;
}

#cama {
    right: 50%;
}
/*MENU_PLANTA*/
img {
    position: absolute;
}
#planta1 {
    position: fixed;
    top: -10%;
    left: -2%;
    width: 75%;
    height: auto;
    transform: rotate(-30deg);
}

/*.caixa:hover {
    position:absolute;
    top:67.5%;
    left:7.5%;
    background: aqua;
    height: 100px;
    width: 70px;
    transform: rotate(-30deg);
}*/


/*SALA*/

img.sala:first-child {  /*sofá*/
    transform: rotate(-0.8deg);
    height: 38vh;
    width: auto;
    top: 29vh;
    left: 6.92vw;
}

img.sala:nth-child(2){  /*mesa*/
    height: 48.6vh;
    width: auto;
    top: 48vh;
    left: 23.9vw;
}

img.sala:nth-child(3){  /*candeeiro*/
    height: 79.9vh;
    width: auto;
    top: 5.74vh;
    left: 62vw;
}

img.sala:nth-child(4){  /*comando*/
    transform: rotate(23deg);
    height: 34.26vh;
    width: auto;
    top: 58vh;
    left: 30.15vw;
}